doctype html
html
  head
    title gist-gemini-fancy
    style.
      html, body {
        height: 100%;
      }

      body {
        margin: 0;
      }

      .half {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
      }

      .half--left {
        color: white;
        background: navy;
      }

      .half--right {
        background: black;
        background: linen;
      }
  body
    .half.half--left
      if locals.left === 'alt'
        | Left side
      else
        | Left half
    .half.half--right Right half
