doctype html
html
  head
    title gist-gemini-fancy prototype
    style.
      /* Guarantee overlays automatically include border in widths */
      * {
        box-sizing: border-box;
      }

      /* Perform nice resets */
      html, body {
        height: 100%;
      }

      body {
        margin: 0;
        /* https://github.com/corysimmons/typographic/blob/2.9.3/scss/typographic.scss#L34 */
        font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
      }

      /* Overlay styles */
      .overlay {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #33CC33;
        border: 2px solid #00FF00;
        opacity: 0.5;
      }
  body
    h1 gist-gemini-fancy prototype
    //- Load an images directly from our report
    //- img(src="gemini-report/images/root/default-large/Chrome~current.png")
    img(src="gemini-report/images/root/default-large/Chrome~diff.png")
    //- img(src="gemini-report/images/root/default-large/Chrome~ref.png")

    //- Load in our dependencies for `unidragger`
    script(src="https://cdn.rawgit.com/metafizzy/ev-emitter/v1.0.3/ev-emitter.js")
    script(src="https://cdn.rawgit.com/metafizzy/unipointer/v2.1.0/unipointer.js")
    script(src="https://cdn.rawgit.com/metafizzy/unidragger/v2.1.0/unidragger.js")

    //- Integrate HTML/CSS overlay for selection
    script.
      document.addEventListener('DOMContentLoaded', function handleReady () {
        // Find our image
        var imgEl = document.querySelector('img');

        // Define our overlay class
        function Overlay(targetEl) {
          // Bind our overlay to the element
          this.handles = [targetEl];
          this.bindHandles();
        }
        // Inherit prototype from Unidragger
        Overlay.prototype = Object.create(Unidragger.prototype);
        Overlay.prototype.dragStart = function (evt, pointer) {
          // If we don't have an overlay element, create one now
          if (!this.overlayEl) {
            this.overlayEl = document.createElement('div');
            this.overlayEl.className = 'overlay';
            document.body.appendChild(this.overlayEl);
          }

          // Update our box position
          // TODO: Update cursor via CSS
          this.update(evt, pointer, {x: 0, y: 0});
        };
        Overlay.prototype.update = function (evt, pointer, moveVector) {
          // If the move vector's X dimension is normal
          // DEV: We use `pointerDownPoint` instead of `dragStartPoint` for better cursor positioning
          if (moveVector.x >= 0) {
            this.overlayEl.style.left = this.pointerDownPoint.x + 'px';
            this.overlayEl.style.width = moveVector.x + 'px';
          // Otherwise (inverted), use opposite parameters)
          } else {
            // DEV: Technically we are subtracting moveVector as it's a negative value
            this.overlayEl.style.left = this.pointerDownPoint.x + moveVector.x + 'px';
            this.overlayEl.style.width = (-1 * moveVector.x) + 'px';
          }

          // Similar behavior for Y dimension
          if (moveVector.y >= 0) {
            this.overlayEl.style.top = this.pointerDownPoint.y + 'px';
            this.overlayEl.style.height = moveVector.y + 'px';
          } else {
            this.overlayEl.style.top = this.pointerDownPoint.y + moveVector.y + 'px';
            this.overlayEl.style.height = (-1 * moveVector.y) + 'px';
          }
        };
        Overlay.prototype.dragMove = function(evt, pointer, moveVector) {
          this.update(evt, pointer, moveVector);
          // TODO: Figure out why mouse isn't always at top right of overlay...
          //   Prob can see what `mockdesk` does...
          // TODO: Restrict overlay element to boundaries of original element
        };

        // Make image draggable
        // TODO: Make overlay which is bound to edges of img
        void new Overlay(imgEl);

        // TODO: Fake drag move...
        //- https://github.com/twolfson/mockdesk/blob/0.14.2/lib/js/scripts/drag-rectangle.js
      });
