doctype html
html
  head
    title gist-gemini-fancy
    style.
      html, body {
        height: 100%;
      }

      body {
        margin: 0;
      }
  body
    //- Load an images directly from our report
    //- img(src="images/root/default-large/Chrome~current.png")
    img(src="images/root/default-large/Chrome~diff.png")
    //- img(src="images/root/default-large/Chrome~ref.png")

    //- TODO: Build HTML/CSS overlay selection
    //- TODO: Can probably use selectly or whatever it's called
