extends index.jade

block before-content
  .container-fluid
    h1 multi-image-mergetool demo
    p This page is fully interactive but not wired to anything so feel free to poke around. Any approved changes will be reset on page refresh.
    hr

block before-scripts
  //- Inject our demo script
  script(src="/demo.js")
